<mat-toolbar data-cy="blui-toolbar" color="primary" class="app-bar mat-elevation-z2">
    <button data-cy="toolbar-menu" style="margin-left: -8px" mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="mat-title" style="margin-left: 24px">Multiselect List</div>
    <blui-spacer></blui-spacer>
    <button data-cy="toolbar-add" mat-icon-button (click)="onAddItem()" style="margin-right: -8px">
        <mat-icon>add</mat-icon>
    </button>
</mat-toolbar>
<mat-list class="multi-select-list">
    <blui-info-list-item data-cy="list-content" *ngFor="let item of data" [iconAlign]="'center'">
        <mat-checkbox
            blui-icon
            [checked]="isSelected(item)"
            (change)="onSelected(item)"
            style="margin-left: -14px"
        ></mat-checkbox>
        <span blui-title>
            {{ item.name }}
        </span>
        <span blui-subtitle>
            {{ item.details }}
        </span>
    </blui-info-list-item>
</mat-list>
<div *ngIf="data.length === 0" class="empty-state-container">
    <blui-empty-state title="No Items Found" style="margin: 16px">
        <mat-icon blui-empty-icon>error</mat-icon>
        <button data-cy="blui-empty-state-add" blui-actions mat-raised-button color="primary" (click)="onAddItem()">
            <mat-icon>add</mat-icon>
            Add An Item
        </button>
    </blui-empty-state>
</div>
<footer [class.active]="selectedItems.length > 0" class="mat-simple-snackbar" data-cy="snackbar" fxLayout="row">
    <p class="mat-body" style="margin-bottom: 0">{{ selectedItems.length }} selected items</p>
    <div>
        <button data-cy="snackbar-delete" mat-icon-button data-cy="snackbar-delete" (click)="deleteItems()">
            <mat-icon>delete</mat-icon>
        </button>
        <button data-cy="snackbar-cancel" mat-icon-button data-cy="snackbar-cancel" (click)="cancelItems()">
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
</footer>
